
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nanum+Myeongjo:wght@400;800&family=Playfair:wght@300&family=Poltawski+Nowy:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Pontano+Sans:wght@700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.banner {
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/P7.jpeg);
  background-size: cover;
  background-position: center;
}

.button-watch {
  display: flex;
  justify-content: center;
}

.textbox {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

.navbar {
  width: 85%;
  margin: -3.5rem 14rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: none;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 100;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.ul li ul.dropdown li {
  display: inline-flex;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  background: black;
  padding: 10px;
  background-color: grey;
}

ul li:hover ul.dropdown {
  display: block;
}

.headtopic {
  width: 70%;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headtopic h1 {
  font-size: 62px;
  font-style: italic;
  animation-name: animation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animation1 {
  0% {
    color: #F1C40F;
  }
  50% {
    color: #F1C40F;
  }
  50% {
    color: #F1C40F;
  }
  75% {
    color: #F1C40F;
  }
  100% {
    color: #F1C40F;
  }
}

.headtopic p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
}

.main {
  margin: 20px;
  text-align: center;
  display: contents;
}

#image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.image {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:hover {
  transform: scale(1.2);
  z-index: 2;
  transition: all 0.3s ease;
}

.description {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: justify;
}

iframe {
  width: 100rem;
  height: 30rem;
  color: red;
}

.foot {
  background-color: #d6d4d4;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
}

.reference {
  display: grid;
  padding: 10px;
  background-color: #d6d4d4;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .navbar {
    margin: -3.5rem 5rem;
  }

  .textbox {
    width: 90%;
  }

  .headtopic {
    width: 90%;
  }

  #image-gallery {
    justify-content: flex-start;
  }

  .image {
    width: 100%;
    height: 150px;
    margin: 10px 5px;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}
